.nav ul {
  height: 100px;
  list-style-type: none;
}
.nav-links li {
  text-decoration: none;
  list-style: none;
  margin-left: 15px;
  display: inline-block;
}
.section {
  display: flex;
  margin-top: 40px;
  align-content: center;
  justify-content: center;
}
